# Aquecimento Global
Janiel - Junho 2024

----------

## 1. Import Modulos

In [1]:
# Manipule data
import pandas as pd

# Visualize data
import seaborn as sns 
import plotly.express as px
import matplotlib.pyplot as plt
%matplotlib inline

# Connect dataBase 
from sqlalchemy import create_engine
from getpass import getpass  # Não exibir a senha

%load_ext sql

## 1.2 Recolher bases de dados da Internet

### 1.2.1 Inserir dados no MySQL

In [2]:
# Iniciando conexão com MySQL

password = getpass()
user = 'root'
database = 'globalaquecimento'
localhost = '3306'

conn_str = f"mysql+pymysql://{user}:{password}@localhost:{localhost}/{database}"
db = create_engine(conn_str)

 ········

In [3]:
def insertmysql (DataFrame,table_name):
    '''Essa função inclui o dataFrame no MySQL'''
    DataFrame.to_sql(table_name, con=db, if_exists="replace", index=False) 
    return print('Tabela inserida com Sucesso!')

### 1.2.2 Dados Gerais sobre emissão de gases no Brasil (SEEG)

In [4]:
# Tabela Geral de Dados Nacionais e Estaduais 

# url = 'https://seeg.eco.br/wp-content/uploads/2024/02/SEEG11.1-DADOS-NACIONAIS.xlsx'
# brasil_df = pd.read_excel(url, sheet_name=1)

In [5]:
# insertmysql (brasil_df,table_name="BrasilGases")

### 1.2.3 Diferentes lentes de monitoramento da temperatura global

In [6]:
arquivos = ['gmt_HadCRUT5.csv', 'gmt_NOAAGlobalTemp.csv', 'gmt_GISTEMP.csv', 'gmt_ERA5.csv', 'gmt_JRA-55.csv', 'gmt_Berkeley%20Earth.csv']
df_list = []

for ArqName in arquivos:
    if ArqName.endswith('.csv'):
        df = pd.read_csv(f'https://climate.metoffice.cloud/formatted_data/{ArqName}')
        df_list.append(df)
        
global_temp = pd.concat(df_list)

In [7]:
# insertmysql (global_temp,table_name="globaltemp")

Tabela inserida com Sucesso!

### 1.2.4 Histórico de C02 no mundo (NOAA)

In [8]:
url = "https://gml.noaa.gov/webdata/ccgg/trends/co2/co2_mm_mlo.txt"

df = pd.read_csv(
    url, 
    sep="\s+", 
    comment='#', 
    header=None, 
    names=["Year", "month", "decimal_date", "average_month (ppm)", "de-seasonalized", "days of data", "st.dev", "unc. of mon mean"]
)

In [9]:
# insertmysql (df,table_name="co2_word")

### 1.2.4 Histórico de Metano no mundo (NOAA)

In [10]:
url_2 = "https://gml.noaa.gov/webdata/ccgg/trends/ch4/ch4_mm_gl.txt"

df_2 = pd.read_csv(
    url_2, 
    sep="\s+", 
    comment='#', 
    header=None, 
    names=["Year", "month", "decimal_date", "average_month (ppm)", "average_unc", "trend", "trend_unc"]
)

In [11]:
# insertmysql (df_2,table_name="ch4_word")

<hr>

## 2. Consultas no Banco de dados

### 2.1 Dados que nos interessa sobre emissão de gases no Brasil (SEEG)

In [12]:
# Habilitando o formato da consulta
%sql {conn_str}

In [13]:
# Realizando a consulta
brasil_gas = %sql SELECT * FROM brasil_gases_efeito_estufa; # "View" criada no banco de dados

brasil_gas_df = pd.DataFrame(brasil_gas)

 * mysql+pymysql://root:***@localhost:3306/globalaquecimento
246229 rows affected.

In [14]:
brasil_gas_df.head()

,Acao,Gas,Setor,Categoria,Atividade,Estado,1970,1971,1972,1973,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Acre,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Amapá,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Amazonas,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Maranhão,274.098381,251.252969,247.550106,262.000958,...,582.317444,605.241634,469.258435,276.730689,165.500674,143.109528,131.474765,128.055901,116.138965,140.932008
4,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Mato Grosso,109.898900,100.685370,99.247692,105.044547,...,2.698877,149.242527,948.670781,444.603358,728.458908,320.605794,637.014421,1142.065186,1441.430964,7375.886876

In [15]:
# Alterando o formato dos Dados para LONG

brasil_gas_df_long = pd.melt(brasil_gas_df, id_vars=['Acao', 'Gas', 'Setor', 'Categoria', 'Atividade', 'Estado'])

In [16]:
brasil_gas_df_long

,Acao,Gas,Setor,Categoria,Atividade,Estado,variable,value
0,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Acre,1970,0.000000
1,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Amapá,1970,0.000000
2,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Amazonas,1970,0.000000
3,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Maranhão,1970,274.098381
4,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Mato Grosso,1970,109.898900
...,...,...,...,...,...,...,...,...
13050132,Emissão,CO2e (t) GWP-AR4,Resíduos,Tratamento de efluentes domésticos,Saneamento Básico,Mato Grosso do Sul,2022,2545.650746
13050133,Emissão,CO2e (t) GWP-AR5,Resíduos,Tratamento de efluentes domésticos,Saneamento Básico,Mato Grosso,2022,7351.685446
13050134,Emissão,CO2e (t) GWP-AR5,Resíduos,Tratamento de efluentes domésticos,Saneamento Básico,Mato Grosso do Sul,2022,2851.128836
13050135,Emissão,CO2e (t) GWP-AR6,Resíduos,Tratamento de efluentes domésticos,Saneamento Básico,Mato Grosso,2022,7824.293795
13050136,Emissão,CO2e (t) GWP-AR6,Resíduos,Tratamento de efluentes domésticos,Saneamento Básico,Mato Grosso do Sul,2022,3034.415690