# Aquecimento Global
Janiel - Junho 2024

----------

## 1. Import Modulos

In [1]:
# Manipule data
import pandas as pd

# Visualize data
import seaborn as sns 
import plotly.express as px
import matplotlib.pyplot as plt
%matplotlib inline

# Connect dataBase 
from sqlalchemy import create_engine, MetaData, Table, select, and_, or_
from sqlalchemy.orm import sessionmaker
from getpass import getpass  # Não exibir a senha

#%load_ext sql

## 1.2 Recolher bases de dados

### 1.2.1 Inserir dados no MySQL

In [2]:
password = getpass()
user = 'root'
database = 'globalaquecimento'
localhost = '3306'

conn_str = f"mysql+pymysql://{user}:{password}@localhost:{localhost}/{database}"
db = create_engine(conn_str)

 ········

In [3]:
def insertmysql (DataFrame,table_name):
    DataFrame.to_sql(table_name, con=db, if_exists="replace", index=False) 
    return print('Tabela inserida com Sucesso!')

### 1.2.2 Dados Gerais sobre emissão de gases no Brasil (SEEG)

In [4]:
# Tabela Geral de Dados Nacionais e Estaduais 

# url = 'https://seeg.eco.br/wp-content/uploads/2024/02/SEEG11.1-DADOS-NACIONAIS.xlsx'
# brasil_df = pd.read_excel(url, sheet_name=1)

In [5]:
# insertmysql (brasil_df,table_name="BrasilGases")

### 1.2.3 Temperatura Global (NASA)

In [6]:
url = "https://data.giss.nasa.gov/gistemp/graphs/graph_data/Global_Mean_Estimates_based_on_Land_and_Ocean_Data/graph.txt"

global_temp = pd.read_csv(
    url, 
    sep="\s+", 
    header=None, 
    names=["Year", "No_Smoothing", "Lowess(5)"],
    skiprows=5
)

In [7]:
# insertmysql (global_temp,table_name="globaltemp")

### 1.2.4 Histórico de C02 no mundo (NOAA)

In [8]:
url = "https://gml.noaa.gov/webdata/ccgg/trends/co2/co2_mm_mlo.txt"

df = pd.read_csv(
    url, 
    sep="\s+", 
    comment='#', 
    header=None, 
    names=["Year", "month", "decimal_date", "average_month (ppm)", "de-seasonalized", "days of data", "st.dev", "unc. of mon mean"]
)

In [9]:
# insertmysql (df,table_name="co2_word")

### 1.2.4 Histórico de Metano no mundo (NOAA)

In [10]:
url_2 = "https://gml.noaa.gov/webdata/ccgg/trends/ch4/ch4_mm_gl.txt"

df_2 = pd.read_csv(
    url_2, 
    sep="\s+", 
    comment='#', 
    header=None, 
    names=["Year", "month", "decimal_date", "average_month (ppm)", "average_unc", "trend", "trend_unc"]
)

In [11]:
# insertmysql (df_2,table_name="ch4_word")

<hr>

## 2. Consultas no Banco de dados

### 2.1 Dados que nos interessa nos Dados Gerais sobre emissão de gases no Brasil (SEEG)

In [12]:
Session = sessionmaker(bind=db)
session = Session()

metadata = MetaData()

brasilgases = Table('brasilgases', metadata, autoload_with=db)

In [13]:
colunas_excluir = ['Sub-categoria emissora', 'Produto ou sistema', 'Detalhamento', 'Recorte', 'Bioma']
colunas_manter = [col for col in brasilgases.columns if col.name not in colunas_excluir]

In [14]:
stmt = select(*colunas_manter).where(
    and_(
        brasilgases.c.Acao == 'Emissão',
        or_(
            brasilgases.c.Gas.like('CO2%'),
            brasilgases.c.Gas.like('CH4%')
        )
    )
)#.limit(5)

resultado = session.execute(stmt)

brasilgas_df = pd.DataFrame(resultado.fetchall(), columns=[col.name for col in colunas_manter])

In [15]:
brasilgas_df.head(2)

,Acao,Gas,Setor,Categoria,Atividade,Estado,1970,1971,1972,1973,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Acre,0E-10,0E-10,0E-10,0E-10,...,0E-10,0E-10,0E-10,0E-10,0E-10,0E-10,0E-10,0E-10,0E-10,0E-10
1,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Amapá,0E-10,0E-10,0E-10,0E-10,...,0E-10,0E-10,0E-10,0E-10,0E-10,0E-10,0E-10,0E-10,0E-10,0E-10

In [16]:
brasilgas_df_long = pd.melt(brasilgas_df, id_vars=['Acao', 'Gas', 'Setor', 'Categoria','Atividade', 'Estado'])

In [17]:
brasilgas_df_long

,Acao,Gas,Setor,Categoria,Atividade,Estado,variable,value
0,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Acre,1970,0E-10
1,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Amapá,1970,0E-10
2,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Amazonas,1970,0E-10
3,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Maranhão,1970,274.0983805153
4,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Mato Grosso,1970,109.8988995433
...,...,...,...,...,...,...,...,...
13050132,Emissão,CO2e (t) GWP-AR4,Resíduos,Tratamento de efluentes domésticos,Saneamento Básico,Mato Grosso do Sul,2022,2545.6507460300
13050133,Emissão,CO2e (t) GWP-AR5,Resíduos,Tratamento de efluentes domésticos,Saneamento Básico,Mato Grosso,2022,7351.6854456000
13050134,Emissão,CO2e (t) GWP-AR5,Resíduos,Tratamento de efluentes domésticos,Saneamento Básico,Mato Grosso do Sul,2022,2851.1288360500
13050135,Emissão,CO2e (t) GWP-AR6,Resíduos,Tratamento de efluentes domésticos,Saneamento Básico,Mato Grosso,2022,7824.2937951000
13050136,Emissão,CO2e (t) GWP-AR6,Resíduos,Tratamento de efluentes domésticos,Saneamento Básico,Mato Grosso do Sul,2022,3034.4156899100