# Aquecimento Global
Janiel - Junho 2024

----------

## 1. Import Modulos

In [1]:
# Manipule data
import pandas as pd

# Visualize data
import seaborn as sns 
import plotly.express as px
import matplotlib.pyplot as plt
%matplotlib inline

# Connect dataBase 
from sqlalchemy import create_engine
from getpass import getpass  # Não exibir a senha

%load_ext sql

## 1.2 Recolher bases de dados da Internet

### 1.2.1 Inserir dados no MySQL

In [2]:
# Iniciando conexão com MySQL

password = getpass()
user = 'root'
database = 'globalaquecimento'
localhost = '3306'

conn_str = f"mysql+pymysql://{user}:{password}@localhost:{localhost}/{database}"
db = create_engine(conn_str)

 ········

In [3]:
def insertmysql (DataFrame,table_name):
    '''Essa função inclui o dataFrame no MySQL'''
    DataFrame.to_sql(table_name, con=db, if_exists="replace", index=False) 
    return print('Tabela inserida com Sucesso!')

### 1.2.2 Dados Gerais sobre emissão de gases no Brasil (SEEG)

In [4]:
# Tabela Geral de Dados Nacionais e Estaduais 

# url = 'https://seeg.eco.br/wp-content/uploads/2024/02/SEEG11.1-DADOS-NACIONAIS.xlsx'
# brasil_df = pd.read_excel(url, sheet_name=1)

In [5]:
# insertmysql (brasil_df,table_name="BrasilGases")

### 1.2.3 Monitoramento da temperatura global (NASA)

In [6]:
url = "https://data.giss.nasa.gov/gistemp/graphs/graph_data/Global_Mean_Estimates_based_on_Land_and_Ocean_Data/graph.txt"

global_temp = pd.read_csv(
    url, 
    sep="\s+", 
    skiprows= 5,
    header=None, 
    names=["Year", "No_Smoothing", "Lowess(5)"]
)

In [7]:
global_temp

     Year  No_Smoothing  Lowess(5)
0    1880         -0.16      -0.09
1    1881         -0.08      -0.13
2    1882         -0.11      -0.16
3    1883         -0.17      -0.20
4    1884         -0.28      -0.24
..    ...           ...        ...
139  2019          0.98       0.94
140  2020          1.02       0.95
141  2021          0.85       0.98
142  2022          0.90       1.00
143  2023          1.18       1.02

[144 rows x 3 columns]

### 1.2.4 Histórico de gases do efeito estufa por várias fontes

In [8]:
arquivos = ['co2_WDCGG%20CO2.csv','co2_Mauna%20Loa%20CO2.csv','co2_NOAA%20CO2.csv', 'ch4_WDCGG%20CH4.csv', 'n2o_WDCGG%20N2O.csv']
df_list = []

for ArqName in arquivos:
    df = pd.read_csv(f'https://climate.metoffice.cloud/formatted_data/{ArqName}')
    df = df[df.columns.drop(list(df.filter(regex='uncertainty')))]
    df_list.append(df)


gas_global = pd.concat(df_list)

rename_columns = {col: col.replace(' (ppb)', '').replace(' (ppm)', '') for col in gas_global.columns}


gas_global.rename(columns=rename_columns, inplace=True)

# Nota: C02 estpa ppM, enquanto CH4 e N02 estão em ppB

In [9]:
gas_global

     Year  Month  WDCGG CO2  Mauna Loa CO2  NOAA CO2  WDCGG CH4  WDCGG N2O
0    1984      1     345.28            NaN       NaN        NaN        NaN
1    1984      2     345.69            NaN       NaN        NaN        NaN
2    1984      3     345.91            NaN       NaN        NaN        NaN
3    1984      4     345.97            NaN       NaN        NaN        NaN
4    1984      5     345.46            NaN       NaN        NaN        NaN
..    ...    ...        ...            ...       ...        ...        ...
463  2022      8        NaN            NaN       NaN        NaN      335.8
464  2022      9        NaN            NaN       NaN        NaN      335.9
465  2022     10        NaN            NaN       NaN        NaN      336.1
466  2022     11        NaN            NaN       NaN        NaN      336.3
467  2022     12        NaN            NaN       NaN        NaN      336.5

[2742 rows x 7 columns]

<hr>

## 2. Consultas no Banco de dados

In [10]:
# Habilitando o formato da consulta
%sql {conn_str}

In [11]:
# Realizando a consulta
brasil_gas = %sql SELECT * FROM brasil_gases_efeito_estufa; # "View" criada no banco de dados

# Transformando em um dataFrame
brasil_gas_df = pd.DataFrame(brasil_gas)


# Alterando o formato dos Dados para LONG
brasil_gas_df_long = pd.melt(brasil_gas_df, 
                             id_vars=['Acao', 'Gas', 'Setor', 'Categoria', 'Atividade', 'Estado'],
                            var_name='Ano',
                            value_name='Volume')

 * mysql+pymysql://root:***@localhost:3306/globalaquecimento
246229 rows affected.

In [12]:
brasil_gas_df_long

,Acao,Gas,Setor,Categoria,Atividade,Estado,Ano,Volume
0,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Acre,1970,0.000000
1,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Amapá,1970,0.000000
2,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Amazonas,1970,0.000000
3,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Maranhão,1970,274.098381
4,Emissão,CH4 (t),Agropecuária,Cultivo de arroz,Agricultura,Mato Grosso,1970,109.898900
...,...,...,...,...,...,...,...,...
13050132,Emissão,CO2e (t) GWP-AR4,Resíduos,Tratamento de efluentes domésticos,Saneamento Básico,Mato Grosso do Sul,2022,2545.650746
13050133,Emissão,CO2e (t) GWP-AR5,Resíduos,Tratamento de efluentes domésticos,Saneamento Básico,Mato Grosso,2022,7351.685446
13050134,Emissão,CO2e (t) GWP-AR5,Resíduos,Tratamento de efluentes domésticos,Saneamento Básico,Mato Grosso do Sul,2022,2851.128836
13050135,Emissão,CO2e (t) GWP-AR6,Resíduos,Tratamento de efluentes domésticos,Saneamento Básico,Mato Grosso,2022,7824.293795
13050136,Emissão,CO2e (t) GWP-AR6,Resíduos,Tratamento de efluentes domésticos,Saneamento Básico,Mato Grosso do Sul,2022,3034.415690